@media only screen

and (min-device-width: 0px)

and (max-device-width: 900px)

and (-webkit-min-device-pixel-ratio: 2){
  .oneCocktailPage {
    flex-wrap: wrap;
  }
}

body {
  background-color: rgb(255, 255, 255);
}

.search {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-top: 20px;

  align-items: center;
}

.searchText {
  padding: 5px 10px;
  
  border-radius: 15px;

  font-size: 25px;
}

.searchByLetter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  
  border: 1px solid black;
  border-radius: 15px;
  
  padding: 5px;
  
  max-width: 100%;
}

.searchByLetter button {
  padding: 5px;
  border: none;

  width: 40px;
  background-color: transparent;
  font-size: 25px;
 
  cursor: pointer;
}
.resultPage {
  margin-top: 40px;
}

.oneCocktailPage {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.cocktailPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  gap: 30px;
}

.boxDrink {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100%;

  padding-bottom: 2%;

  border-radius: 15px;

  box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.68);
}

.boxDrink img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.boxDrink .cocktailName {
  padding: 5px;
  text-align: center;
  font-size: 45px;
}

.boxDrink .tags {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-evenly;
}

.boxDrink .tags p {
  background-color: rgb(241, 241, 241);
  border-radius: 25px;
  padding: 5px 30px;
}

.tag {
  margin-right: 5px;
  margin-left: 5px;
}


.left {
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding-bottom: 2%;

  width: 400px;
  height: 100%;

  border-radius: 15px;

  box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.68);
}

.left img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.left .cocktailName {
  padding: 5px;
  text-align: center;
  font-size: 45px;
}

.left .tags {
  display: flex;
  flex-direction: row;

  margin-top: 30px;

  justify-content: space-evenly;
}

.left .tags p {
  background-color: rgb(241, 241, 241);
  border-radius: 25px;
  padding: 5px 30px;
}

.right {
  display: flex;
  flex-direction: column;

  gap: 30px;

  height: 100%;

  margin: 20px;
}

.right .ingredients {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.ingredients .ingredient {
  display: flex;
  flex-direction: row;

  align-items: center;

  font-size: 20px;

  border-radius: 15px;
  box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.68);

  padding: 5px;
}

.ingredients .ingredient img {
  max-width: 100%;
  height: 70px;
}

.instructions {
  display: flex;
  padding: 15px;

  border-radius: 15px;

  text-align: center;

  font-size: 25px;

  box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.68);
}
