.coctail {
  font-size: 25px;
}

.search {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.searchText {
  font-size: 25px;
}

.searchByLetter {
  display: flex;
  flex-direction: row;
}

.searchByLetter a {
  padding: 5px;
}
.searchByLetter a:hover {
  background-color: red;
}